@page
@model CreatePageModel


@{
    ViewData["Title"] = "Create Account"; 
}

<h1 class="text-center">Create Account:</h1>

<div class="container">
    <form method="post" asp-page-handler="user" asp-route-returnurl="@Model.ReturnUrl">

        <div class="d-flex mb-3">
            <input type="text" asp-for="User.Username" class="form-control flex-fill" placeholder="Username" />
            <span asp-validation-for="User.Username" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <input asp-for="User.PasswordHash" type="password" class="form-control" placeholder="Password" />
            <span asp-validation-for="User.PasswordHash" class="text-danger"></span>
        </div>


        <div class="d-flex p-2 flex-column justify-content-center">
            <input type="submit" value="Create Account" class="btn btn-primary flex-fill mb-3" />
            <a asp-page="Login" class="text-center">Alternatively login</a>        
        </div>

    </form>

    <div asp-validation-summary="All" class="text-danger"></div>

</div>



